.challenges {
  padding: 0 3.9375rem;
  display: flex;
  width: 100vw;
}
.challenges .chals_cont {
  width: 80vw;
  margin-top: 10rem;
  overflow-y: scroll;
  height: 100vh;
}
.challenges .chals_cont > *:not(:first-child) {
  margin-top: 1.0625rem;
}
.challenges .chals_cont::-webkit-scrollbar {
  display: none;
}
.challenges .chals_cont .challenge_p {
  position: relative;
  margin-left: 1.0625rem;
  padding: 1.9375rem 2.4375rem;
  background: #1E1E1E;
  border: 4px solid #1400FF;
  border-radius: 8px;
}
.challenges .chals_cont .challenge_p .pre {
  display: flex;
  justify-content: space-between;
}
.challenges .chals_cont .challenge_p .pre .date span {
  color: rgba(255, 255, 255, 0.6509803922);
  font-size: 1rem;
  font-weight: 100;
}
.challenges .chals_cont .challenge_p .pre .themes {
  display: flex;
}
.challenges .chals_cont .challenge_p .pre .themes span {
  margin-left: 1.0625rem;
  color: rgba(255, 255, 255, 0.6509803922);
  font-size: 1rem;
  font-weight: 100;
}
.challenges .chals_cont .challenge_p .meaners {
  display: flex;
  align-items: center;
}
.challenges .chals_cont .challenge_p .meaners .meaner {
  display: flex;
  align-items: center;
}
.challenges .chals_cont .challenge_p .meaners .meaner .img {
  height: 4.4375rem;
  width: 4.4375rem;
  border-radius: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.challenges .chals_cont .challenge_p .meaners .meaner .img img {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.challenges .chals_cont .challenge_p .meaners .meaner span {
  font-size: 1.5625rem;
  color: white;
  font-weight: 500;
  margin-left: 1.1875rem;
}
.challenges .chals_cont .challenge_p .meaners .y {
  font-size: 1.5625rem;
  color: white;
  font-weight: 500;
  margin-left: 1.1875rem;
  margin-right: 1.0625rem;
}
.challenges .chals_cont .challenge_p h2 {
  font-size: 1.5625rem;
  font-weight: 500;
  color: white;
}
.challenges .chals_cont .challenge_p .text {
  color: white;
  font-weight: 500;
  line-height: 150%;
}
.challenges .chals_cont .challenge_p .imgg {
  margin-top: 2rem;
}
.challenges .chals_cont .challenge_p .imgg a img {
  width: 100%;
}
.challenges .chals_cont .challenge_p .ye, .challenges .chals_cont .challenge_p .more {
  padding: 0.5625rem 1.125rem;
  border-radius: 8px;
  color: white;
  font-size: 1.5625rem;
  width: -moz-max-content;
  width: max-content;
  margin-top: 1.5625rem;
  border: 4px solid #1400FF;
  cursor: pointer;
}